/prow/cluster/components/bot_hmac
/prow/cluster/components/bot_oauth
/prow/cluster/components/workload_clusters.yaml
/prow/jobs/vendor/
/bootstrap/data
/images/bootstrap/data
/images/github-runner/
.github/
