/prow/cluster/components/bot_hmac
/prow/cluster/components/bot_oauth
/prow/cluster/components/deck_oauth
/prow/cluster/components/bot_oauth
/prow/cluster/components/service-account.json
/prow/cluster/components/workload_clusters.yaml
/prow/jobs/vendor/
/bootstrap/data
/images/bootstrap/data/
/images/github-runner/
.github/
prow/cluster/components/branchprotector-config.yaml
prow/cluster/components/cookie.txt
images/.DS_Store
aws-k8s-tester